
<form>
    <span id="formTitle">TITLE</span>

    <div class="fieldContainer">
        <label for="emailInput">Email:</label>
        <input id="emailInput" />
    </div>

    <div class="fieldContainer">
        <label for="emailRetypeSpecialId">Email Retype:</label>
        <input id="emailRetypeSpecialId" />
    </div>

    <div class="fieldContainer">
        <label for="phoneInput">Phone:</label>
        <input id="phoneInput" class="phoneInputClass" />
    </div>

    <div class="fieldContainer">
        <label for="addressInput">Phone:</label>
        <input id="addressInput" class="addressInputAsGQuery" />
    </div>

    <div class="fieldContainer">
        <label for="cityInput">City:</label>
        <input id="cityInput" />
    </div>

    <div class="bottomTitle">BOTTOM</div>
</form>